<h3 mat-dialog-title>Заполните поля</h3>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="text"
        formControlName="curName"
        placeholder="Название продукта"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="number"
        formControlName="curPrice"
        placeholder="Цена продукта"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="control-btn">
  <button
    mat-raised-button
    (click)="submit()"
    color="primary"
    [mat-dialog-close]="{ name: curName.value, price: curPrice.value }"
    [disabled]="form.invalid"
  >
    Добавить продукт
  </button>
  <button mat-button (click)="onDismiss()">Отмена</button>
</div>
