<mat-toolbar color="primary">
  <span>Table View </span>

  

  <!-- This fills the remaining space of the current row -->
  <span class="space"></span>

  <button
    color="accent"
    class="authButton"
    mat-raised-button
    (click)="openBottomSheet()"
    [routerLink]="['/login']"
    *ngIf="!authService.isHasToken()">
    Войти
  </button>

  <button
    mat-raised-button
    color="accent"
    class="authButton"
    [routerLink]="['/login']"
    *ngIf="authService.isHasToken()"
    (click)="logout()">
    Выйти
  </button>
</mat-toolbar>
