mat-card {
  width: 50%;
  margin: 10px;
}
table {
  width: 100%;

  mat-paginator {
    width: 100%;
    display: flexbox;
  }
}

.table-container {
  position: relative;
  max-height: 80vh;
  overflow: auto;
}

.mat-column-name,
.mat-column-price,
.mat-column-control {
  width: 33%;
  text-align: center;
}
