mat-card {
  width: 50%;
  margin: 10px;
}

table {
  width: 100%;

  mat-paginator {
    width: 100%;
    display: flexbox;
  }
}

.table-container {
  position: relative;
  max-height: 80vh;
  height: 80vh;
  overflow: auto;
}

.mat-column-name,
.mat-column-price {
  width: 40%;
  text-align: center;
}

.btn-remove {
  color: rgba(255, 0, 0, 0.7);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

:host::ng-deep{
  .mat-sort-header-container{
    justify-content: center;
  }
}