<div *ngIf="productsArr.length; else tableIsClear">
    <table>
        <thead>
            <th>Продукт</th>
            <th>Цена товара</th>
        </thead>
        <tbody>
            <tr *ngFor="let prod of productsArr" >
                <td>{{prod.name}}</td>
                <td>{{prod.price}}</td>
                <td><button><i class="material-icons">clear</i></button></td>
                <td><button><i class="material-icons">edit</i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #tableIsClear>
    <strong>Таблица пустая</strong>
</ng-template>