<!-- <div class="parent">
  <div class="child1">
    <mat-card>
      <mat-card-content>
        <app-products-table></app-products-table>
      </mat-card-content>
    </mat-card>
  </div> -->

  <app-products-table></app-products-table>

  <!-- <div class="child2">
    <mat-card>
      <mat-card-content>
        <app-product-stats></app-product-stats>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-products-add></app-products-add>
      </mat-card-content>
    </mat-card>
  </div> -->
<!-- </div> -->
