<form [formGroup]="authForm" novalidate (submit)="submit()">
    <div class="form_group">
        <label for="login">Login </label><br>
        <input class="form-control" type="text" name="login" placeholder="Введите логин" formControlName="login">
        <div class="alert" *ngIf="authForm.controls['login'].invalid && authForm.controls['login'].touched">Ошибка логина</div>
    </div>
    <div class="form_group">
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Введите пароль" formControlName="password">
        <div class="alert" *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched">Ошибка пароля</div>
    </div>
    <div class="form-group">
        <button [disabled]="authForm.invalid" type="submit" (click)="login()">OK</button>
        <button (click)="logout()">Logout</button>
    </div>

    <p>UserList</p>
    <div *ngFor="let user of users">{{user.email}}</div>
</form>
